<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align: center" class="container">
  <h1>Welcome to the {{ title }}!</h1>

  <label>Input 1:</label>
  <input type="number" class="form-control number-input" required [(ngModel)]="paramOne" />

  <label>Input 2:</label>
  <input type="number" class="form-control number-input" required [(ngModel)]="paramTwo" />

  <label>Operator:</label>
  <br />
  <input type="radio" class="radio" [(ngModel)]="operator" value="add" />Add (+)
  <input type="radio" class="radio" [(ngModel)]="operator" value="sub" />Sub (-)
  <input type="radio" class="radio" [(ngModel)]="operator" value="mul" />Mul (*)
  <input type="radio" class="radio" [(ngModel)]="operator" value="div" />Div (/)

  <br />
  <button type="button" class="btn btn-primary" (click)="onCalculate()">Calculate</button>

  <h5>Result:</h5>

  <h5>{{ result }}</h5>
</div>
